/* BODY */
body {
  font-family: "Roboto", sans-serif;
}

/* HEADER */
.title {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

/* FORM */
form input {
  background-color: #fdf9f9;
  border-radius: 5px;
  border: 2px solid lightgray;
  height: 25px;
  font-size: 10px;
  caret-color: black;
}
.colonnes {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
}
form p {
  margin-bottom: 3px;
  font-size: 10px;
}

/* REGISTER */
.register {
  display: flex;
  justify-content: center;
  background-color: #5c48d4;
  color: white;
  margin: 0 auto;
  margin-top: 15px;
  height: 31px;
  border-radius: 5px;
  width: 200px;
  justify-content: center;
  align-items: center;
}

/* FOOTER */
footer span {
  font-weight: bold;
}
.footer {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  /* background-color: cadetblue; */
}
